<div class="ld-project-create-edit">
  <ld-wrapper back="list">
    <form class="left" (submit)="createOrEdit()" [formGroup]="projectCreateEditForm">

      <h1 class="main-title">{{ titleText }}</h1>

      <mat-form-field>
        <mat-label>Título</mat-label>
        <input matInput formControlName="title">
        <mat-error>{{msg.required}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Custo total</mat-label>
        <input matInput formControlName="totalCost" mask="0*">
        <mat-error>{{msg.required}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error>{{msg.required}}</mat-error>
      </mat-form-field>

      <ld-button [text]="buttonText"></ld-button>
    </form>
    <div class="right">
      <img class="image" alt="Fundo de decoração com 3 cubos com fundo gradient das cores do arco-iris"
        src="assets/image/bg-float-cubes.png">
    </div>
  </ld-wrapper>
</div>